.dart_tool/
build/
.DS_Store

example/.dart_tool/
example/build/

example/android/.gradle/
example/android/**/build/
example/android/local.properties

example/ios/Pods/
example/ios/.symlinks/
example/ios/Flutter/ephemeral/
example/ios/Runner.xcworkspace/
example/ios/DerivedData/
